.lemon-regular-titulo {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

  }
  

body{
    background-color: rgb(176, 118, 212);
    color: white;

}

.cabeçalho{
display: flex;
justify-content: space-around;
width: 100%;
height:200px;
background-color: rgba(255, 255, 255, 0.253);
margin-top: -5px;
margin-bottom: 30px;
}

.caixa-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
        
}

.box{
    margin-bottom: 50px;
    align-items: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.253);
    width: 350px;
    height: 420px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

.box img{
    border-radius: 20px;
    width: 320px;
    height: 300px;

}

p{
    font-size: 17px;

}
.preco{
    font-style: italic;
}

.botao{
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-color: rgb(80, 7, 139);
    background-color:rgb(237, 216, 255); 
    width: 90px;
    height: 25px;
    border-radius: 3px;


}